#space-dropzone {
  /* height: 500px; */
     overflow: hidden;
}
#lowerthird-conf #tabs {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
}
#content-dropzone {
	float: left;
	 border: 2px dotted #333;
    /* height: 500px; */
    /* width: 800px; */
}
#element-dropzone{
  background-color: #fff;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    float: left;
    height: 500px;
    padding: 20px;
    width: 220px;
}

.dropzone {
	background-color: #ddd;
    border: 4px dashed transparent;
    transition: background-color 0.3s ease 0s;
  }
.draggable.drag-drop{
  
    font-weight: bold;
   
    padding: 4px;
    text-align: center;
}

.draggable.drag-drop.can-drop{
    border: 0 none;
    font-weight: bold;
    margin: 0;
    padding: 4px;
    text-align: left;
	display: inline-block;
	white-space: pre;
}
.element-box{
	  border: 1px solid #555;
	  background-color: #f1f1f1 ;
	   margin: 0 0 6px;
	   height: 50px;
}
h3.ui-accordion-header{	
	margin: 0;
}